[Unit]
Description=Rclone Mount for Debridlink
After=network-online.target
Wants=network-online.target
[Service]
Type=notify
ExecStart=/usr/bin/rclone mount ctbserver:/media /sshmedia
    --vfs-cache-mode full \
    --vfs-cache-max-size 5G \
    --vfs-cache-max-age 90h \
    --allow-non-empty \
    --allow-other
ExecStop=/bin/fusermount -u /sshmedia
Restart=on-failure
User=rodhfr
Group=rodhfr

[Install]
WantedBy=default.target

